$break_point_min: 768px;
$break_point_pc: 1000px;
$break_point_middle: 1200px;
$break_point_wide: 1400px;

$header_height_sp: 54px;
$header_height_pc: 116px;

$content_padding_sp: 25px;
$content_padding: $spacing10;

$logo_width_sp: 73px;
$logo_width_pc: 121px;

$max_container: 1040px;
