$noto_sans: "Noto Sans JP", sans-serif;
$cormorant: "Cormorant", serif;
$shippori: "Shippori Mincho", serif;

$yu__gothic: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
$yu__mincho: "游明朝", "Yu Mincho", YuMincho, "游明朝体", "YuMincho", serif;

$helvetica: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$helveticaMedium: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue",
  "Helvetica Neue", Helvetica, Arial, sans-serif;

$kiwi__maru: "Kiwi Maru", serif;

$font_main: $noto_sans;

$font_line-height-body: 1.5;
$font_line-height-pre: 1.4;
$font_spacing: 0.05em;

$font-size-mini: 12px;
$font-size-small: 14px;
$font-size-middle: 16px;
$font-size-large: 18px;

$sans-serif: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "HiraKakuProN-W3",
  "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
$serif: "游明朝", "Yu Mincho", YuMincho, "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN",
  "HG明朝E", serif;
$lato: "Lato", sans-serif;
