<%-
    include('./common/_head', {
    page: json['home']
    });
    %>

  <section class="fv">
    <img class="u-sp-hide" src="./images/top/img_top_fv_pc_01.png" alt="">
    <img class="u-pc-hide" src="./images/top/img_top_fv_sp_01.png" alt="">
  </section>

  <section class="top-intro">
    <img class="top-intro__bg top-intro__bg--1" src="./images/top/img_top_intro_pc_01.png" alt="">
    <img class="top-intro__bg top-intro__bg--2" src="./images/top/img_top_intro_pc_02.png" alt="">
    <img class="top-intro__bg top-intro__bg--3" src="./images/top/img_top_intro_pc_03.png" alt="">
    <img class="top-intro__bg top-intro__bg--4" src="./images/top/img_top_intro_pc_04.png" alt="">

    <p class="top-intro__text">採用コピーが入ります。<br>
      採用コピーが入ります。採用コピーが入ります。<br><br>

      採用コピーが入ります。<br>
      採用コピーが入ります。採用コピーが入ります。採用コピーが入ります。<br><br>

      採用コピーが入ります。採用コピーが入ります。採用コピーが入ります。採用コピーが入ります。採用コピーが入ります。<br><br>

      採用コピーが入ります。<br>
      採用コピーが入ります。採用コピーが入ります。採用コピーが入ります。採用コピーが入ります。採用コピーが入ります。</p>

  </section>

  <section class="top-identity">
    <div class="l-container">
      <div class="top-identity__inner">
        <div class="top-identity__item">
          <h3 class="top-identity__title">Corporate<br>
            Identity</h3>
          <h4 class="top-identity__sub-title">私たちの理念</h4>
          <p class="top-identity__text">テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。テキストがはいります。</p>
          <div class="top-identity__btn">
            <a class="c-more-btn" href="/">
              View More
              <img class="c-more-btn__icon" src="./images/common/icon_btn_arrow_01.png" alt="">
            </a>
          </div>
        </div>
        <div class="top-identity__item">
          <div class="top-identity__img-cont">
            <img class="top-identity__img" src="./images/top/img_top_identity_01.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="top-about">
    <div class="top-about__decoration u-sp-hide">ABOUT LIFE CREATE</div>
    <div class="top-about__items top-about-items">
      <div class="top-about-items__cont">
        <a class="top-about-items__card top-about-items__card--01" href="#">
          <div class="top-about-items__img-cont">
            <img class="top-about-items__img u-sp-hide" src="./images/top/img_top_about_pc_01.png" alt="">
            <img class="top-about-items__img u-pc-hide" src="./images/top/img_top_about_sp_01.png" alt="">
            <div class="top-about-items__cover u-sp-hide">
              <img src="./images/top/img_top_about_pc_04.png" alt="">
            </div>
          </div>
        </a>
        <a class="top-about-items__card top-about-items__card--01" href="#">
          <div class="top-about-items__img-cont">
            <img class="top-about-items__img u-sp-hide" src="./images/top/img_top_about_pc_02.png" alt="">
            <img class="top-about-items__img u-pc-hide" src="./images/top/img_top_about_sp_02.png" alt="">
            <div class="top-about-items__cover u-sp-hide">
              <img src="./images/top/img_top_about_pc_05.png" alt="">
            </div>
          </div>
        </a>
        <a class="top-about-items__card top-about-items__card--01" href="#">
          <div class="top-about-items__img-cont">
            <img class="top-about-items__img u-sp-hide" src="./images/top/img_top_about_pc_03.png" alt="">
            <img class="top-about-items__img u-pc-hide" src="./images/top/img_top_about_sp_03.png" alt="">
            <div class="top-about-items__cover u-sp-hide">
              <img src="./images/top/img_top_about_pc_06.png" alt="">
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="top-brands">
    <div class="l-container">
      <div class="top-brands__head">
        <h2 class="top-brands__title">BRANDS
          <span class="top-brands__note">ブランド</span>
        </h2>
        <p class="top-brands__text">LIFE CREATEには複数のブランドがあり、<br class="u-sp-hide">それぞれ違う顔を持っています。<br>
          あなたにあったブランドで自分が輝ける<br class="u-sp-hide">場所を見つけることができます。</p>
      </div>

      <div class="top-brands__slide">
        <ul class="js-slider c-slider">
          <li class="c-slider__item">
            <a class="c-slider__link" href="/">
              <div class="c-slider__img-cont">
                <img src="./images/top/img_top_brands_01.png" alt="">
                <div class="c-slider__cover u-sp-hide">
                  <img src="./images/top/img_top_brands_04.png" alt="">
                </div>
              </div>
              <p class="c-slider__text">ホットヨガスタジオ loIve <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none">
                  <path d="M20.5 7C12.7535 4.91128 6.54648 3.488 0.5 0C2.87453 3.11393 5.15116 4.9 5.15116 7C11.1453 7 20.5 7 20.5 7Z" fill="#5F6269" />
                  <path d="M20.5 7C12.7535 9.08872 6.54648 10.512 0.5 14C0.5 14 5.15116 9.1 5.15116 7C11.1453 7 20.5 7 20.5 7Z" fill="#5F6269" />
                </svg></p>

            </a>
          </li>
          <li class="c-slider__item">
            <a class="c-slider__link" href="/">
              <div class="c-slider__img-cont">
                <img src="./images/top/img_top_brands_02.png" alt="">
                <div class="c-slider__cover u-sp-hide">
                  <img src="./images/top/img_top_brands_05.png" alt="">
                </div>
              </div>
              <p class="c-slider__text">pilates K <svg xmlns=" http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none">
                  <path d="M20.5 7C12.7535 4.91128 6.54648 3.488 0.5 0C2.87453 3.11393 5.15116 4.9 5.15116 7C11.1453 7 20.5 7 20.5 7Z" fill="#5F6269" />
                  <path d="M20.5 7C12.7535 9.08872 6.54648 10.512 0.5 14C0.5 14 5.15116 9.1 5.15116 7C11.1453 7 20.5 7 20.5 7Z" fill="#5F6269" />
                </svg>
              </p>

            </a>
          </li>
          <li class="c-slider__item">
            <a class="c-slider__link" href="/">
              <div class="c-slider__img-cont">
                <img src="./images/top/img_top_brands_03.png" alt="">
                <div class="c-slider__cover u-sp-hide">
                  <img src="./images/top/img_top_brands_06.png" alt="">
                </div>
              </div>
              <p class="c-slider__text">その他ブランド<svg xmlns=" http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14" fill="none">
                  <path d="M20.5 7C12.7535 4.91128 6.54648 3.488 0.5 0C2.87453 3.11393 5.15116 4.9 5.15116 7C11.1453 7 20.5 7 20.5 7Z" fill="#5F6269" />
                  <path d="M20.5 7C12.7535 9.08872 6.54648 10.512 0.5 14C0.5 14 5.15116 9.1 5.15116 7C11.1453 7 20.5 7 20.5 7Z" fill="#5F6269" />
                </svg>
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="top-other">
    <ul class="top-other__items">
      <li class="top-other__item">
        <a class="top-other__card top-other-card" href="/">
          <img class="u-sp-hide" src="./images/top/img_top-other_pc_01.png" alt="">
          <img class="u-pc-hide" src="./images/top/img_top-other_sp_01.png" alt="">
          <div class="top-other-card__cover u-sp-hide">
            <img class="u-sp-hide" src="./images/top/img_top-other_pc_04.png" alt="">
          </div>
          <div class="top-other-card__text-cont">
          </div>
        </a>
      </li>
      <li class="top-other__item">
        <a class="top-other__card" href="/">
          <img class="u-sp-hide" src="./images/top/img_top-other_pc_02.png" alt="">
          <img class="u-pc-hide" src="./images/top/img_top-other_sp_02.png" alt="">
          <div class="top-other-card__cover u-sp-hide">
            <img class="u-sp-hide" src="./images/top/img_top-other_pc_05.png" alt="">
          </div>
        </a>
      </li>
      <li class="top-other__item">
        <a class="top-other__card" href="/">
          <img class="u-sp-hide" src="./images/top/img_top-other_pc_03.png" alt="">
          <img class="u-pc-hide" src="./images/top/img_top-other_sp_03.png" alt="">
          <div class="top-other-card__cover u-sp-hide">
            <img class="u-sp-hide" src="./images/top/img_top-other_pc_06.png" alt="">
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section class="top-workstyle">
    <div class="l-container">
      <div class="top-workstyle__inner">
        <div class="top-workstyle__img-cont">
          <img class="top-workstyle__img" src="./images/top/img_top-workstyle_01.png" alt="">
        </div>
        <div class="top-workstyle__cont">
          <h2 class="top-workstyle__title">WORK STYLE
            <span class="top-workstyle__note">社内制度・福利厚生</span>
          </h2>
          <p class="top-workstyle__text">社内制度や福利厚生について具体的に説明した文章が入ります。社内制度や福利厚生について具体的に説明した文章が入ります。社内制度や福利厚生について具体的に説明した文章が入ります。社内制度や福利厚生について具体的に説明した文章が入ります。</p>
          <div class="top-workstyle__btn">
            <a class="c-more-btn" href="/">
              View More
              <img class="c-more-btn__icon" src="./images/common/icon_btn_arrow_01.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="top-information">
    <div class="top-information__inner">
      <h2 class="top-information__title">
        INFORMATION
      </h2>
      <img class="top-information__icon top-information__icon--01 u-sp-hide" src="./images/top/icon_top_information_01.png" alt="">
      <img class="top-information__icon top-information__icon--02 u-sp-hide" src="./images/top/icon_top_information_02.png" alt="">
      <div class="top-information__bg">
        <img class="u-sp-hide" src="./images/top/bg_top_information_pc_01.png" alt="">
        <img class="u-pc-hide" src="./images/top/bg_top_information_sp_01.png" alt="">
      </div>
      <div class="top-information__links">
        <a class="c-card-link">
          <h3 class="c-card-link__title">
            <span class="c-card-link__title-text">募集要項</span>
            <span class="c-card-link__note">REQUIREMENTS</span>
          </h3>
          <img class="c-more-btn__icon" src="./images/common/icon_btn_arrow_01.png" alt="">
        </a>
        <a class="c-card-link">
          <h3 class="c-card-link__title">
            <span class="c-card-link__title-text">よくある質問</span>
            <span class="c-card-link__note">FAQ</span>
          </h3>
          <img class="c-more-btn__icon" src="./images/common/icon_btn_arrow_01.png" alt="">
        </a>
      </div>
    </div>
  </section>

  <section class="top-gallery">
    <div class="l-container">
      <h2 class="top-gallery__title">GALLERY</h2>
      <ul class="top-gallery__lists js-slider-gallery">
        <li class="top-gallery__list"><img src="./images/top/img_top_gallery_01.png" alt="">
          <figcaption class="top-gallery__cap">タイトルが入ります</figcaption>
        </li>
        <li class="top-gallery__list"><img src="./images/top/img_top_gallery_02.png" alt="">
          <figcaption class="top-gallery__cap">タイトルが入ります</figcaption>
        </li>
        <li class="top-gallery__list"><img src="./images/top/img_top_gallery_01.png" alt="">
          <figcaption class="top-gallery__cap">タイトルが入ります</figcaption>
        </li>

        <li class="top-gallery__list"><img src="./images/top/img_top_gallery_02.png" alt="">
          <figcaption class="top-gallery__cap">タイトルが入ります</figcaption>
        </li>
      </ul>
    </div>
  </section>

  <section class="top-instagram">
    <a class="top-instagram__link" href="/">
      <img class="top-instagram__img u-pc-hide" src="./images/top/img_top_instagram_sp_01.png" alt="">
      <img class="top-instagram__img u-sp-hide" src="./images/top/img_top_instagram_pc_01.png" alt="">
      <div class="top-instagram__link-cover u-sp-hide">
        <img class="top-instagram__cover-img" src="./images/top/img_top_instagram_pc_02.png" alt="">
      </div>
    </a>
  </section>

  <section class="top-entry">
    <div class="l-container">
      <div class="top-entry__items">
        <a class="top-entry__item" href="/">
          <img class="top-entry__img u-pc-hide" src="./images/top/img_top_entry_sp_01.png" alt="">
          <img class="top-entry__img u-sp-hide" src="./images/top/img_top_entry_pc_01.png" alt="">
          <div class="top-entry__cover-item u-sp-hide">
            <img class="top-entry__img" src="./images/top/img_top_entry_pc_02.png" alt="">
          </div>
        </a>
        <a class="top-entry__item" href="/">
          <img class="top-entry__img u-pc-hide" src="./images/top/img_top_entry_sp_02.png" alt="">
          <img class="top-entry__img u-sp-hide" src="./images/top/img_top_entry_pc_03.png" alt="">
          <div class="top-entry__cover-item u-sp-hide">
            <img class="top-entry__img" src="./images/top/img_top_entry_pc_04.png" alt="">
          </div>
        </a>
      </div>
    </div>
  </section>

  <%- include('common/_footer') %>